@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply border border-black px-4 py-3 font-medium text-lg transition-all duration-300 ease-in-out text-center inline-block;
  }
  .btn:hover {
    @apply bg-black text-white;
  }

  .btn-primary {
    @apply bg-black text-white;
  }

  .btn-primary:hover {
    @apply bg-white text-black;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 640px) {
  .container,
  .sm\:container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
