node_modules
.DS_Store
public/*
!public/images*
!public/template.html
!public/template-cdn.html
!public/favicon.ico
/data/*
!/data/example*
backend/scripts/output*
backend/dist
TODO
.env*

/.enum_manifest.json
/.src_manifest.json
/.source_strings.json
/.translated_fbts.json
