
.radio input {
  margin-right: 0.5rem;
}

.pay-with-crypto {
  padding-left: 1.25rem;
  padding-right: 0.5rem;
  padding-bottom: 0.75rem;
}

.pay-with-crypto .alert.alert-danger {
  background-color: #ffeeee;
  border-color: #ff0000;
  color: #ff0000;
}

.pay-with-crypto .alert {
  text-align: center;
  font-size: 0.75rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}

.pay-with-crypto table thead tr {
  border-top: 1px solid #cdd7e0;
  border-bottom: 1px solid #cdd7e0;
}

.pay-with-crypto table thead th {
  font-size: 0.75rem;
  font-weight: normal;
  color: #9faebd;
  padding: 0.5rem;
  text-align: left;
}

.pay-with-crypto table tbody tr td.input-container .token-logo {
  display: none;
}

.pay-with-crypto table tbody tr td.input-container img {
  height: 9px;
  width: 9px;
  object-fit: contain;
}

.pay-with-crypto table tbody tr td.input-container input {
  margin-right: 10px;
}

.pay-with-crypto table tbody tr td.input-container {
  display: flex;
  align-items: center;
}

.pay-with-crypto table tbody tr td {
  font-size: 0.75rem;
  padding: 0.5rem;
}

.pay-with-crypto table tbody tr:last-child td {
  border-bottom: 0;
}

.pay-with-crypto table tbody tr:last-child {
  border-bottom: 0;
}

.pay-with-crypto table tbody tr {
  border-bottom: 1px solid #cdd7e0;
  cursor: pointer;
}

.pay-with-crypto table {
  width: 100%;
}

@media (max-width: 767.98px) {
  .pay-with-crypto .tokens > div:not(:last-child) {
    margin-bottom: 1rem;
  }

  .pay-with-crypto .tokens {
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
