dshopImage:
  repository: gcr.io/origin-214503/experimental/dshop-backend
  tag: "mainnet"

issuerImage:
  repository: gcr.io/origin-214503/dshop/cert-issuer-ingress
  tag: "20210224172035"

dshopCacheStorageRequestSize: 1T
dshopIssuerIp: 35.247.127.81
dshopIssuerReplicas: 2
dshopStorageNFSPath: /dshop_cache

# Resolver that needs to also see redis.
# Likely .10 on the k8s subnet
issuerNginxResolver: 10.64.0.10

disableQueueProcessors: false
